@{
    ViewData["Title"] = "Home Page";
}

<div class=" struct text-center">
    <h1 class="display-4">Bem vindos ao Gerenciamento de Cadastros de Informações Pessoais</h1>
    <div class="info">
        <div class="image1">
            <img src="https://images.unsplash.com/photo-1504711331083-9c895941bf81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aW5mb3JtYXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" />
        </div>
        <p class="text-info">
            Com o sistema de gerenciamento empresarial de cadastros pessoais você poderá contar com a segurança de suas informações.
            E também poderam manipular todas elas como bem quiser ou como o usuário solicitar.
        </p>
    </div>
</div>
<hr class="solid" />
<div class="struct especification">
    <div class="card-group">
        <div class="card">
            <h4><strong>Agilidade</strong></h4>
            <img class="img-agile" src="https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGluZm9ybWF0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60" />
            <div class="card-body">
                 <p class="text-info">
                    Sabemos que hoje em dia a agilidade conta muito para efetuarmos nossas atividades diarias, e quanto mais rápido finalizamos mais clientes sae com satifação.
                    Claro só agilidade não vai resolver, se fizermos todas as tarefas sem prestar atenção na qualidade. E para isso que o sistema de Gerenciamento Empresarial de Cadastros Pessoais serve.
                    Ele vai te ajudar no seu dia com o cadastros de seus usuários.
                 </p>
            </div>
        </div>
        <div class="card">
            <h4><strong>Segurança</strong></h4>
            <img class="img-agile" src="https://media.istockphoto.com/photos/cybersecurity-digital-technology-security-picture-id1310129244?b=1&k=20&m=1310129244&s=170667a&w=0&h=FxAuF_7dvRlrIcgCGdIG8p354LtMXQbZAwZljBB-U_Y=" />
            <div class="card-body">
                <p class="text-info">
                    Poderá contar com toda a segurança que nosso sistema fornece. Podendo usufluir sem medo ele é protegido fortemente contra todo tipo de ameaça.
                    E também contamos com uma ótima equipe de segurança da informação.
                </p>
            </div>
        </div>
        <div class="card">
            <h4><strong>Qualidade</strong></h4>
            <img class="img-agile" src="https://images.unsplash.com/photo-1560264418-c4445382edbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHF1YWxpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" />
            <div class="card-body">
                <p class="text-info">
                    Um ótimo sistema, que dara toda qualidade e protividade que você empreendedor necessita em sua empresa, chega de papelada arquivada no escritório.
                    Com nosso sistema você guarda toda informação em um só lugar e o melhor sem confusão nenhuma na hora de buscar por informação.
                </p>
            </div>
        </div>
    </div>
</div>



