@{
    ViewData["Title"] = "Home Page";
}

<div  class=" struct text-center">
    <h1 class="display-4">Bem vindos ao Gerenciamento de Cadastros de Informações Pessoais</h1>
    <div class="info">
        <p>Com o sistema de gerenciamento empresarial de cadastros pessoais você poderá contar com a segurança de suas informações.
            E também poderam manipular todas elas como bem quiser ou como o usuário solicitar.
        </p>
        <div class="image1">
            <img src="https://images.unsplash.com/photo-1504711331083-9c895941bf81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aW5mb3JtYXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" />
        </div>
    </div>
</div>
<hr class="solid" />
<div class="struct especification">
    <h4><strong>Agilidade</strong></h4>
    <div id="image2">
        <img class="img-agile" src="https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGluZm9ybWF0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60" />
    </div>
</div>

