@model PimViii.Models.TipoTelefone

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Tem certeza que quer excluir este item ? Ao exclui-lo, este item será apagado permanentemente </h3>
<div>
    <h4>TipoTelefone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.NomePessoa)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoTelefoneId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
