.struct{
    margin-left: 2rem;
    margin-right: 2rem;
}

.info{
    padding: 2rem;
}

.info p{
    padding: 2rem;
}

.image1 img {
    box-shadow: 60px -16px rgb(208 208 208);
    border-radius: 10px;
}

.solid{
    border-top: 1px solid #808080
}

h4 {
    padding: 2rem;
}

#image2 .img-agile {
    box-shadow: 60px -16px rgb(208 208 208);
    border-radius: 10px;
}

.img-agile {
    height: 25rem;
    width: 50%;
}